<%- include('includes/head') %>
    <%- include('includes/nav') %>

        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>

                <div class="col-md-8 my-3">
                    <h1 class="text-center">Bem vindo <%= user.email %>
                    </h1>
                    <p class="text-center lead">Agora você pode cadastrar seus contatos</p>

                    <%- include('includes/messages'); %>

                </div>

            </div>

            <div class="col-md-2"></div>
        </div>
        </div>

        <%- include('includes/footer') %>